/* The class names and style below were added to help you get started with styling the pages.
If you would prefer, you can delete them and use your own classes and style definitions. */

body {
  text-align: center;
  font-size: 16px;
}

img#headshot {
  border-radius: 100%;
  margin-top: 50px;
}

p#bio {
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

p#bio:first-line {
  font-size: 22px;
  font-weight: bold;
}