
/* Card classes */

.card {
  width: 300px;
  font-size: 16px;
  border: 1px solid var(--navy);
  border-radius: 5px;
}

.card-title {
  font-size: 22px;
  font-style: bold;
  text-align: center;
  color: var(--navy);
  margin: 30px auto 20px auto;
}

.card-image {
  width: 270px;
  margin: auto 15px auto 15px;
}

.card-text {
  margin: 20px 15px 20px 15px;
}

.card-button {
  width: 270px;
  height: 30px;
  border-width: 1px;
  margin: auto 15px 30px 15px;
  color: var(--white);
  background-color: var(--navy);
}

.card-button:hover {
  color: var(--black);
  background-color: var(--orange);
}
