/* The class names and style declarations below were added to help you get started.
If you would prefer, you can delete them and use your own classes and style declarations. */

body {
  margin: 0;
}

.navlist {
  list-style: none;
}

.navlink {
  border: none;
  color: var(--white);
  background-color: var(--green);
  float: left;
  padding: 30px;
}

.navlink:link {
  text-decoration: none;
}

.navlink:hover {
  color: var(--black);
  background-color: var(--orange);
}

.navlink:active {
  color: var(--black);
  background-color: var(--orange);
}

.navlink:focus {
  border: none;
  color: var(--black);
  background-color: var(--orange);
}