
body {
  margin: 0;
}

/* Navbar class */

.navlist {
  list-style: none;
}

/* Navigation links */

.navlink {
  float: left;
  padding: 30px;
  border: none;
  color: var(--white);
  background-color: var(--green);
}

.navlink:link {
  text-decoration: none;
}

.navlink:hover, .navlink:active, .navlink:focus {
  color: var(--black);
  background-color: var(--orange);
}
