
/* Form and element selectors */

.form {
  width: 320px;
  font-size: 14px;
  border: 1px solid var(--gray4);
  border-radius: 10px;
  margin: auto auto 30px auto;
  overflow: hidden;
}

.form h1 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1em;
}

.form fieldset {
  border: none;
}

.form legend {
  width: 275px;
}

/* Text classes */

.form-text {
  float: left;
  width: 100px;
  font-weight: bold;
}

.input-box {
  width: 190px;
  border: 1px solid var(--gray4);
}

.text-object {
  width: 290px;
  margin: 15px auto 25px auto;
}

/* Radio classes */

.radio-field, .radio-field label {
  margin-left: 10px;
}

/* Button classes */

.button-spacer {
  float: left;
  width: 50%;
  margin-bottom: 25px;
}

.button {
  width: 90%;
  padding: 5px;
  border: 1px solid var(--green);
  border-radius: 3px;
}

#submitbutton {
  margin-left: 15px;
  color: var(--white);
  background-color: var(--green);
}

#resetbutton {
  margin-left: 2px;
  color: var(--green);
  background-color: var(--white);
}

#submitbutton:hover, #resetbutton:hover {
  color: var(--black);
  background-color: var(--orange);
}
